
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 30px;
}


.practical {
  padding-left: 30px;
  background-color: rgba(0,0,0, 1);
  border: 1px solid rgba(0, 205, 206,.2);
}

.whimsical {
  padding-left: 30px;
  background-color: rgba(255,255,255, 1);
  border: 1px solid rgba(0, 205, 206,.2);
}

h1 {
  padding-bottom:20px;
  font-family: Montserrat, sans-serif;
  font-style: bold;
  color: black;
  font-size: 44px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Montserrat, sans-serif;
  padding: 30px;
  font-style: bold;
  font-size: 32px;
  color:#FFFFFF;

}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Montserrat, sans-serif;
  padding: 30px;
  font-style: bold;
  font-size: 32px;
  color: #000000;
}


img {
  width: 25%;
  float: left;
}

.whitetext {
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  padding: 30px;
  display: inline-block;
  line-height: 20px;

}

.blacktext {
  font-family: sans-serif;
  color: #000000;
  font-size: 16px;
  padding: 30px;
  display: inline-block;
  line-height: 20px;
}


a {
  color: #000000;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  color: #FFFFFF;
}

a.blacklink {
  color: #FFFFFF;
  text-decoration: underline;
}

a.whitelink {
  color: #000000;
  text-decoration: underline;
}


.navrow {
  background-color: rgba(0,204,204, 1);
  border: 1px solid rgba(0, 205, 206,.2);
}

.row .row {
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(0, 205, 206,.2);
}

.bimages {
  float: left;
  border: 1px solid white;
  width: 250px;
  height:250px;
  margin: 10px;
  background-image: url("../assets/placeholder3.png");
}
.parallax { 
    /* The image used */
    background-image: url("https://cdn.shutterstock.com/shutterstock/videos/20107672/thumb/1.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 0 - 400 */
@media all and (max-width: 400px) {

  .bimages {
    float: left;
    border: 1px solid white;
    width: 100px;
    height:100px;
    margin: 10px;
    background-image: url("../assets/placeholder3.png");
}
}

